[Desktop Entry]
Name=Gretl
Comment=Econometric analysis package
Comment[pl]=Pakiet do analizy ekonometrycznej
Icon=gretl.xpm
Exec=gretl_x11
Terminal=false
Type=Application
# vi: encoding=utf-8
